* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke !important;
}

.container {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.tophead {
    height: 40px;
    background-color: white;
    position: static;
    padding-top: 10px;
}

.tophead p {
    text-align: right;
    margin-right: 25px;
    color: #14a714;
    letter-spacing: 1px;
}

.navbar {
    background: linear-gradient(rgba(164, 237, 164, 0.71), #ffffff);
    height: 90px;
    border-top: 2px solid rgba(75, 181, 75, 0.69);
    font-weight: bold;
}

.navbar-light .navbar-brand{
    font-size: 1.2rem;
    color:#43af43;
}

.nav-link {
    background-color: white;
}

.carousel-caption {
    bottom: 100px;
    color: black;
    background-color: #ffffff;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    color: #14a714;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.5);
}

.carousel-indicators {
    display: none;
}

.info-box {
    border: 3px solid #43af43;
    padding: 1rem;
    border-radius: 20px;
    background-color: white;
    max-width: 320px;
    margin-right: 10px;
}


.icon-box {
    background-color: #43af43;
    height: 7rem;
    width: 7rem;
    border-radius: 90px;
    margin-left: auto;
    margin-right: auto;
    font-size: 4rem;
    color: white;
    text-align: center;
}

.big-title {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 15px;
}

.information-box {
    position: relative;
    top: -50px;
}

.box-information {
    font-size: 0.8rem;
}

.info-box .btn {
    margin-top: 30px;
    width: 200px;
    background-color: #43af43;
}

.main-information {
    background-color: #ffffff;
    padding-bottom: 4rem;
    border-top: 2px solid rgba(75, 181, 75, 0.69);
    border-bottom: 2px solid rgba(75, 181, 75, 0.69);
}

.right-information img {
    border-radius: 10px;
}

.left-information p {
    font-size: 1.5rem;
    text-align: left;
    font-weight: bold;
}

.patient-area {
    background-color: #798973;
    color: white;
}

.buttons-pdf .btn {
    width: 320px;
    background-color: #ffffff;
    margin-right: auto;
    color: #14a714;
    height: 60px;
    border-radius: 30px;
    margin-left: 25px;
}

.buttons-pdf .btn {
    width: 260px;
    background-color: #ffffff;
    margin-right: auto;
    color: #14a714;
    height: 60px;
    border-radius: 30px;
    margin-left: 25px;
    font-size:14px;
}

.buttons-pdf .btn:hover {
    background-color: rgba(60, 62, 60, 0.69);
    color: #ffffff;
}

.buttons-pdf .fas {
    font-size: 30px;
}

.small-gallery {
    padding-bottom: 4rem;
}

.contact-header h1,
.gallery-header h1,
.header-information h1 {
    color: #14a714;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 28px;
}

.patient-header h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 28px;
}

#slider{
    position:relative;
    margin:0 auto;
    top:0px;
    left:0px;
    width:980px;
    height:160px;
    overflow:hidden;
    visibility:hidden;
}

.slider-gallery {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.slider-gallery img {
    animation-name: slider-gallery;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes slider-gallery {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.btn submit{
    background-color: #43af43;
}


footer {
    background-color: #14a714;
    color: #000000;
    position: absolute;
}

footer p {
    padding: 15px;
    font-size: 10px;
    letter-spacing: 2px;
}

@media (min-width: 576px) {
    .buttons-pdf .btn {
        width: 320px;
        background-color: #ffffff;
        margin-right: auto;
        color: #14a714;
        height: 60px;
        border-radius: 30px;
        margin-left: 25px;
        font-size:16px;
    }
}

@media (min-width: 768px) {
    .nav-link {
        background-color: transparent;
    }
}


@media (min-width: 992px) {
    ...
}


@media (min-width: 1200px) {
    ...
}
