body,
html {
    width: 100%;
    height: 100%;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Quicksand', sans-serif;
}

.container {
    max-width: 1800px;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.tophead {
    height: 40px;
    background-color: white;
    position:static;
    padding-top: 10px;
}

.tophead p{
    text-align: right;
    margin-right: 25px;
    color:#14a714; 
    letter-spacing: 1px;
}

.navbar {
    background: linear-gradient(rgba(164, 237, 164, 0.71), #ffffff);
    height: 90px;
    border-top: 2px solid rgba(75, 181, 75, 0.69);
  
    font-weight: bold;
}

.carousel-caption {
    bottom:100px;
    color:black;
    background-color: #ffffff;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    color:#14a714; 
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.5);
   }

.carousel-indicators{
    display:none;
}

.info-box {
    border: 3px solid #43af43;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: white;
}

.icon-box {
    background-color: #43af43;
    height: 7rem;
    width: 7rem;
    border-radius: 90px;
    margin-left: auto;
    margin-right: auto;
    font-size: 4rem;
    color: white;
    text-align: center;
}

.big-title{
    font-weight: bold;
    text-transform: uppercase;
    margin-top:20px;
    margin-bottom: 15px;
}

.information-box {
    position: relative;
    top: -50px;
}

.box-information {
    font-size: 0.8rem;
}

.info-box .btn{
    margin-top: 30px;
    width: 200px;
    background-color: #43af43;
}

.main-information{
    background-color: #ffffff;
    padding-bottom: 4rem;
    border-top: 2px solid rgba(75, 181, 75, 0.69);
    border-bottom: 2px solid rgba(75, 181, 75, 0.69);
}

.right-information img{
    border-radius: 10px;
}

.left-information p{
    font-size:1.5rem;
    text-align: left;
    font-weight: bold;
}

.patient-area{
    background-color: #798973;
    color:white;
    
}

.buttons-pdf{
    margin-left: auto;
    margin-right: auto;
    
}

.buttons-pdf .btn{
    margin-top: 30px;
    width: 380px;
    background-color: #ffffff;
    margin-right: auto;
   color:#14a714; 
    height: 60px;
    border-radius: 30px;
}

.buttons-pdf .btn:hover{
    background-color: rgba(60, 62, 60, 0.69);
    color:#ffffff;
}

.buttons-pdf .fas{
    font-size:30px;
}
