* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    background-image: url("../foto/background.jpg");
    font-family: 'Sansita', sans-serif;
}

.container {
    max-width: 1400px;
    padding: 0px;
    overflow: hidden;
}

.tophead {
    height: 40px;

    position: static;
    padding-top: 10px;
}

.tophead p {
    text-align: right;
    margin-right: 25px;
    color: #14a714;
    letter-spacing: 1px;
}

.navbar {
    background-color: #ffffff;
    height: 90px;
    border-top: 1px solid rgba(130, 191, 130, 0.5);
    font-weight: bold;
}

.navbar-light .navbar-brand {
    font-size: 1.5rem;
    color: #43af43;
    padding: 0px;
    font-family: 'Kaushan Script', cursive;
}

.navbar-light .navbar-brand:hover {
    color: #43af43;
}

.nav-link {
    background-color: white;
    font-size: 14px;
}

#myCarousel {
    margin-left: auto;
    margin-right: auto;
}

.carousel-caption {
    bottom: 100px;
    background-color: rgba(255, 255, 255, 0.83);
    max-width: 400px;
    max-height: 60px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    color: #14a714;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.5);
}

.carousel-caption h3 {
    font-size: 1.3rem;
    padding-top: 0;
}

.carousel-indicators {
    display: none;
}

.info-box {
    border: 1px solid rgba(190, 190, 190, 0.29);
    padding: 1rem;
    border-radius: 20px;
    background-color: white;
    max-width: 320px;
    margin-right: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.icon-box {
    background-color: #43af43;
    height: 7rem;
    width: 7rem;
    border-radius: 90px;
    margin-left: auto;
    margin-right: auto;
    font-size: 4rem;
    color: white;
    text-align: center;
}

.big-title {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 15px;
    color: grey;
}

.information-box {
    position: relative;
    top: -50px;
}

.box-information {
    font-size: 0.8rem;
    color: grey;
    font-size: 0.9rem;
}

.info-box .btn {
    margin-top: 30px;
    width: 180px;
    background-color: #43af43;
}

.info-box .btn:hover {
    background-color: #337e33;
    transform: scale(1.15, 1.27);
}

.main-information {
    background-color: #ffffff;
    padding-bottom: 4rem;
    border-top: 1px solid rgba(75, 181, 75, 0.69);
    border-bottom: 1px solid rgba(75, 181, 75, 0.69);
}

.right-information img {
    border-radius: 10px;
}

.left-information p {
    font-size: 1.5rem;
    text-align: left;
    font-weight: bold;
    color: grey;
}

.left-information ul {
    color: grey;
}

.patient-area {
    background-color: rgba(98, 137, 96, 0.87);
    color: white;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.buttons-pdf .btn {
    width: 320px;
    background-color: #ffffff;
    margin-right: auto;
    color: #14a714;
    height: 60px;
    border-radius: 30px;
    margin-left: 25px;
}

.buttons-pdf .btn {
    width: 260px;
    background-color: #ffffff;
    margin-right: auto;
    color: #14a714;
    height: 60px;
    border-radius: 30px;
    margin-left: 25px;
    font-size: 14px;
}

.buttons-pdf .btn:hover {
    background-color: rgba(60, 62, 60, 0.69);
    color: #ffffff;
}

.buttons-pdf .fas {
    font-size: 30px;
}

.small-gallery {
    padding-bottom: 4rem;
}

.contact-header h1,
.gallery-header h1,
.header-information h1 {
    color: #14a714;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 28px;
}

.patient-header h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 28px;
}

.patient-area-text {
    font-size: 1.2rem;
}

#slider {
    position: relative;
    margin: 0 auto;
    top: 0px;
    left: 0px;
    width: 980px;
    height: 160px;
    overflow: hidden;
    visibility: hidden;
}

.slider-gallery {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.slider-gallery img {
    animation-name: slider-gallery;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes slider-gallery {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.btn submit {
    background-color: #43af43;
}

.form-contact {
    color: #43af43;
}

placeholder {
    color: rgba(185, 180, 180, 0.17);
}

.adress {
    color: grey;
}

.submit {
    color: #14a714;
}

footer {
    background-color: #14a714;
    color: #000000;
    position: absolute;
    max-height: 40px;
}

footer p {
    padding: 15px;
    font-size: 9px;
    letter-spacing: 2px;
    margin-bottom: 0;
}

@media (min-width: 576px) {
    .buttons-pdf .btn {
        width: 320px;
        background-color: #ffffff;
        margin-right: auto;
        color: #14a714;
        height: 60px;
        border-radius: 30px;
        margin-left: 25px;
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    .nav-link {
        background-color: transparent;
    }

    .patient-area {
        padding-left: 40px;
        padding-right: 40px;
        background-image: url("../foto/green-medical-background.jpg");
        color: white;
        position: relative;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
}
